<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The rosters are set.</h1>
    <p>
      This email confirms that both teams have set their starters for the game tomorrow.<br>
    </p>
    <p>Good luck. See you at the gym!</p>
    <p>The StatsCollect Team</p>
  </body>
</html>