<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Upcoming Game</h1>
    <p>
      Your team is scheduled to play tomorrow. Please login to set the roster for the upcoming game..<br>
    </p>
  </body>
</html>